%h1 Listing flights
- if @all
  %p
    Showing all flights.
    = link_to 'Show only current or upcoming flights.', root_path(params: { all: false })
- else
  %p
    Showing current and upcoming flights.
    = link_to 'Also show past flights.', root_path(params: { all: true })
- @dates.each do |date|
  %h2
    = date
    \/
    = link_to 'SPINS', spins_path(params: { date: date })
  %table.table.table-striped.table-bordered.table-sm.table-hover
    %thead.thead-dark
      %tr
        %th Time
        %th Callsign
        %th Airframe
        %th Mission
        %th AO
        %th Task
        %th IFF
        %th Takeoff
        %th Departure
        %th Land
        %th Recovery
        %th MWXR
        %th
    %tbody
      - @flights.ordered.where('date(start) = ?', date).each do |flight|
        %tr(scope="row")
          %td= flight.start.to_s(:time)
          %td= flight.full_callsign
          %td
            = "#{flight.pilots.count}/#{flight.slots}"
            = Settings.airframes[flight.airframe].name
          %td= flight.mission
          %td= flight.ao
          %td= flight.task
          %td= "#{flight.iff}X"
          %td= link_to_start_airbase(flight)
          %td= link_to_departure(flight)
          %td= link_to_land_airbase(flight)
          %td= link_to_recovery(flight)
          %td= flight.minimum_weather_requirements
          %td= link_to 'Show', flight, class: 'btn btn-primary btn-sm'
%br
= link_to 'New Flight', new_flight_path, class: 'btn btn-primary'
