%h1 Listing flights

%table
  %thead
    %tr
      %th Theater
      %th Airframe
      %th Start
      %th Duration
      %th Callsign
      %th Callsign number
      %th Slots
      %th Mission
      %th Objectives
      %th Group
      %th Laser
      %th Tacan channel
      %th Tacan polarization
      %th Frequency
      %th Notes
      %th
      %th
      %th

  %tbody
    - @flights.each do |flight|
      %tr
        %td= flight.theater
        %td= flight.airframe
        %td= flight.start
        %td= flight.duration
        %td= flight.callsign
        %td= flight.callsign_number
        %td= flight.slots
        %td= flight.mission
        %td= flight.objectives
        %td= flight.group_id
        %td= flight.laser
        %td= flight.tacan_channel
        %td= flight.tacan_polarization
        %td= flight.frequency
        %td= flight.notes
        %td= link_to 'Show', flight
        %td= link_to 'Edit', edit_flight_path(flight)
        %td= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Flight', new_flight_path
