%h1 Listing flights

%table
  %thead
    %tr
      %th Time
      %th Callsign
      %th Airframe
      %th Pilots
      %th Mission
      %th Frequency
      %th Takeoff
      %th Departure
      %th Land
      %th Recovery
      %th

  %tbody
    - @flights.each do |flight|
      %tr
        %td= flight.start
        %td= flight.full_callsign
        %td= Settings.airframes[flight.airframe]
        %td= "#{flight.pilots.count}/#{flight.slots}"
        %td= flight.mission
        %td= flight.frequency
        %td= Settings.theaters[flight.theater].airbases[flight.start_airbase].name
        %td= Settings.theaters[flight.theater].airbases[flight.start_airbase].departures[flight.departure]
        %td= Settings.theaters[flight.theater].airbases[flight.land_airbase].name
        %td= Settings.theaters[flight.theater].airbases[flight.land_airbase].recoveries[flight.arrival]
        %td= link_to 'Show', flight
%br
= link_to 'New Flight', new_flight_path
