%p#notice= notice

%p
  %b Theater:
  = Settings.theaters[@flight.theater].name
%p
  %b Airframe:
  = Settings.airframes[@flight.airframe]
%p
  %b Start:
  = @flight.start
%p
  %b Duration:
  = @flight.duration
%p
  %b Callsign:
  = @flight.full_callsign
%p
  %b Slots:
  = @flight.slots
%p
- @flight.slots.times do |index|
  %p
    - number = index + 1
    %b= "Slot #{number}:"
    - pilot = @flight.pilots.find_by number: number
    - if pilot
      = pilot.name
      = link_to 'Unassign', flight_pilot_path(@flight, pilot), method: :delete
    - else
      = form_for :pilot, url: flight_pilots_path(@flight) do |f|
        = f.hidden_field :number, value: number
        = f.select :name, Settings.pilots
        = f.submit 'Assign'
%p
  %b Mission:
  = @flight.mission
%p
  %b Objectives:
  = @flight.objectives
%p
  %b Group:
  = @flight.group_id
%p
  %b Laser:
  = @flight.laser
%p
  %b Tacan channel:
  = @flight.tacan
%p
  %b Frequency:
  = @flight.frequency
%p
  %b Notes:
  = @flight.notes

= link_to 'Edit', edit_flight_path(@flight)
= link_to 'Waypoints', flight_waypoints_path(@flight)
= link_to 'Print', print_flight_path(@flight)
= link_to 'Destroy', @flight, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Back', flights_path
