= form_for [@flight, @waypoint] do |f|
  - if @waypoint.errors.any?
    #error_explanation
      %h2= "#{pluralize(@waypoint.errors.count, "error")} prohibited this waypoint from being saved:"
      %ul
        - @waypoint.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :position
    = f.text_field :position
  .field
    = f.label :altitude
    = f.text_field :altitude
  .actions
    = f.submit 'Save'
