%h1 Waypoints

%table
  %thead
    %tr
      %th Number
      %th Name
      %th Position
      %th Altitude
      %th

  %tbody
    - @waypoints.each do |wp|
      %tr
        %td= wp.number
        %td= wp.name
        %td= wp.position
        %td= wp.altitude
        %td
          = link_to 'Edit', edit_flight_waypoint_path(@flight, wp)
          = link_to 'Destroy', flight_waypoint_path(@flight, wp), method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New', new_flight_waypoint_path(@flight)
= link_to 'Back', flight_path(@flight)
